<!-- <style>
    h5 {
        color: red;
    }
</style> -->

<div id="header">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="League of Legends Tracker">
        <title>League Tracker</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
</div> <!-- end of header div-->

<div id="body">

    <h1>League of Legends Tracker</h1>

    {% if user.is_authenticated %}
        <p> Welcome, logged in as {{ user.username }} </p>

        {% for entry in history %}
            <form action="" method="POST">
                {% csrf_token %}
                <button name="preset" type="submit" value="{{ entry }}">
                    {{ entry }}
                </button>
            </form>
        {% endfor %}

        <br>
        <p><a href="logout">Log Out</a></p>
    {% else %}
        <p> Log in to view recent searches: </p>
        <a href="{% url "social:begin" "spotify" %}">Login with Spotify</a> 
    {% endif %}

    <br><br>

    {% for message in messages %}
    <h5> {{ message }} </h5>
    {% endfor %}

    <form action="" method="POST">
        {% csrf_token %}
        <b>Summoner Name: </b> <br>
        <input type="text" name="summoner_name"/> <br>
        <b>Region: </b> <br>
        <input type="text" name="region"/> <br> <br>
        <button type = "submit">Search</button> 
    </form>

    {% if name %}
    <h2>Name: {{name}} </h2>
        <h4>Rank: {{rank}}</h4>
        <h4>Champions: </h4>
        
        <h3>Last Ten Games /W Performance:</h3>
        {%for i in matches %}
        <table>
        <tr id="labels">
            <th>Summoner</th>
            <th>Champion</th>
            <th>Spell1</th>
            <th>Spell2</th>
            <th>Wins</th>
            <th>Kills</th>
            <th>Death</th>
            <th>Assist</th>
            <th>Total Damage Dealt</th>
            <th>Gold Earned</th>
            <th>Champion Level</th>
            <th>Total Minions Killed</th>
            <th>Item 1</th>
            <th>Item 2</th>
        </tr>
        <tr id="playerinfo">
            {% for player in i %}
            <td id="summonername">{{ player.summoner }} </td>
            <td id="championname">{{ player.champion }}</td>
            <td>{{player.spell1 }}</td>
            <td>{{ player.spell2 }}</td>
            <td>{{ player.win}}</td>
            <td>{{ player.kills }}</td>
            <td>{{ player.deaths }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.totalDamageDealt }}</td>
            <td>{{ player.goldEarned }}</td>
            <td>{{player.champLevel }}</td>
            <td>{{ player.totalMinionsKilled }}</td>
            <td>{{ player.item0 }}</td>
            <td>{{ player.item1 }}</td> 
            
        </tr>
        {%endfor%}
        </table>
        {%endfor%}
    {% endif %}
</div> <!-- end of body div-->

<div>
    <footer>
        <p id="bottomright" title="to the repo"><a href="https://github.com/lib250/CS411-Project" target="_blank" class="active">gg</a></p>
    </footer>
</div> <!--end of footer div-->
