
   <form action="data" method="post">
    {% csrf_token %}
    <div>{{form}}</div>
    <h1>Raw: {{response}}</h1>
    <h1>Name:{{name}} </h1>
    <h1>Rank:{{rank}}</h1>
    {%for i in matches %}
    <table>
      <tr>
        <th>Summoner</th>
        <th>Champion</th>
        <th>Spell1</th>
        <th>Spell2</th>
        <th>Wins</th>
        <th>Kills</th>
        <th>Death</th>
        <th>Assist</th>
        <th>Total Damage Dealt</th>
        <th>Gold Earned</th>
        <th>Champion Level</th>
        <th>Total Minions Killed</th>
        <th>Item 1</th>
        <th>Item 2</th>
      </tr>
      <tr>
         {% for player in i %}
         <td>{{ player.summoner }} </td>
         <td>{{ player.champion }}</td>
         <td>{{player.spell1 }}</td>
         <td>{{ player.spell2 }}</td>
         <td>{{ player.win}}</td>
         <td>{{ player.kills }}</td>
         <td>{{ player.deaths }}</td>
         <td>{{ player.assists }}</td>
         <td>{{ player.totalDamageDealt }}</td>
         <td>{{ player.goldEarned }}</td>
         <td>{{player.champLevel }}</td>
         <td>{{ player.totalMinionsKilled }}</td>
         <td>{{ player.item0 }}</td>
         <td>{{ player.item1 }}</td> 
        
      </tr>
      {%endfor%}
       </table>
       {%endfor%}
    <h1>Characters: </h1>
    <h1>Last Ten Games /W Performance:</h1>
    <h1>{{player1}}</h1>
    
  <li></li>
  
    </form>
  