
{% load socialaccount %}
<html>
    <body>
        <h1> OAuth </h1>
        {% if user.is_authenticated %}
            <p> Welcome, you are logged in as {{ user.username }} </p>
            <p><a href="logout">Log Out</a></p>
        {% else %}
            <a href="{% provider_login_url 'google' %}">Login with Google </a><br>
            <a href="{% url "social:begin" "spotify" %}">Login with Spotify</a>
        {% endif %}
        <p>Authentication: {{ user.is_authenticated }}</p>
    </body>
</html>
